<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Synth</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">

</head>
<body>

<div class="slidercontainer" id="slidercontainer"></div>

<audio controls class="audioplayer" id="audioplayer" src="" type="audio/mp3"></audio>
<br>
<div class="dropdown">
  <button onclick="modelSelectorBtn()" class="dropbtn">Select model</button>
  <div id="modelselector" class="dropdown-content"></div>
</div>

</body>

<script src="../static/script.js"></script>

</html>